
/*-------------------------------------Universal selector---------------------------------*/
      *,
      *::before,
      *::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        
      }

      body{

        font-family: sans-serif;
        margin: 0;
        background:#E3E6E6;
        scroll-behavior: smooth;

        
      }

      a{
        text-decoration: none;
        color: white;
      }

      ul{
        text-decoration: none;
      }

      img{
        width: 100%;
        
      }

/*----------------------------------- Header section-------------------------------------- */

      .header{
        position: sticky;
        top: 0;
        z-index: 1000;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
      } 
      .header__container{
        
        display:grid;
        grid-template-columns: 0.6fr .8fr 4fr 1.6fr;
        padding: .1rem;
        height: 3.7rem;
        background-color: #131921;
        color: white;
        cursor:pointer;
      }

      .container__elements{
        min-width: 10rem;
        border: 1px solid transparent;
        padding: .2rem;
        height: 3.4rem;
        text-align: center;
      }

      .container__elements:hover{
        border: 1px solid white;
     
      }
      .logo-box{
        display: flex;
        padding: .5rem 0 0 0rem;
        margin-left: 10px;
        margin-top: .4rem;
        align-items: center;
        justify-content: center;
      
      }

      .logo-box img{
        width: 100px;
      }

      .logo-box span{
        
        margin-top: -11px;
      }

      .location-box{
        display: flex;
        padding-top: .5rem;
        align-items: center;
        border: 1px solid transparent;
      }

      .location-content{
        
        margin-left: 5px;
      }

      .first{
        text-align: left;
        font-size: 11px;
      }

      .second{
        text-align: left;
        font-weight: 600;
        font-family: sans-serif;
        font-size: 14px;
        height: 100%;
        width: 100%;
        
      }

      .header__container-nav{
        
        display: flex; 
        height: 78%;
        
      }

/*---------------------------------------- header Middle----------------------------------- */

      .nav-box{
        display: flex;
        height: 100%;
        margin-top: 4px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 5px;
        
      
      }

      .nav-box:hover{
        border: 3px solid orange;
        border-radius: 7px;
      }
      

      .category{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: white;
        
      
      }

      .form-box{
        
        display: grid;
        grid-template-columns: 1.5fr 16fr 1fr;
        height: 100%;
       

      }

      .category-list{
        max-width: 3.4rem;
        border: none;
        background-color: #E6E6E6;
        outline: none;
        padding: 0 .5rem;
        color: #555555;
        border-top-left-radius:4px ;
        border-bottom-left-radius:4px ;
      }

      .category-list__size{
        min-width:10rem ;
        border-radius: 5px;
      }

      .search-area{
        margin-left: 4px;
        font-size: 1rem;
        border: none;
        outline: none;

      }

      .search-area-active{
       
          border: 3px solid orange;
          border-radius: 4px;
      
      }

      .nav-button{
        background-color: #FEBD6A;
        border: none;
        color: #333333;
        min-width: 3rem;
        font-size: 10px;
        font-weight: normal;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .nav-button:hover{
        background-color: #FEBD6A;
      }

      .header__container-right{

        height: 3.5rem;
      }

      .header__container-right-tools{
        min-width: 20rem;
        display: flex;
        width: 100%;
        height: 100%;

      }

      #nav-tools a{
        display: flex;
        font-size: 9px;
        justify-content: center;
        align-items: center;

      } 

      .country{
          font-size: 14px;
          font-weight: 700;
        

      }
      
      .account{
        text-align: left;
        min-width:6rem
      }

      .account .account-2{
          font-weight: 700;
          font-size: 14px;
          
      }

      .arrow-down{
        margin: 2px;
        font-weight: normal;
        font-size: 12px;
      }

      .order{
        min-width: 5rem;
      }

      .order .order-2{
        font-size: 14px;
        font-weight: 700;
      
      }

      .cart-link{
        display: flex;
      }

      .cart-icon .cart-count{
          font-weight: 700;
          color: #F08806;
          font-size: 1.1rem;
          margin-bottom: -15px;
          margin-left: 20px;
         
      }

      .cart-text{
          margin-right: 10px;
          margin-top: 15px;
          /* align-self: last 20px; */
          font-weight: 600;
          font-size: 14px;
      
      }

      .cart-bag img{ 
        margin-right: -20px;
        margin-top: -4px;
        color: white;
        width: 4.5rem;
      }

      .div-hover{
          position: relative;
          border: 1px solid transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90%;
        
      }

      .div-hover:hover .drop-container{
        display: block;
      }

      .triangle {
        position: absolute;
        top: 30px;
        left: 75%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust centering */
        
        border-left: 10px solid transparent; /* Left border */
        border-right: 10px solid transparent; /* Right border */
        border-bottom: 20px solid white; /* Bottom border for triangle color */
        z-index: 104;
      }

      .drop-container{
        display: none;
      }

      .country-language-dropdown{
        
        /* display: none; */
        color: rgb(92, 89, 89);
        position: absolute;
        display: flex;
        flex-direction: column;
        top:2.9rem;
        left:0rem ;
        background-color: white;
        z-index: 103;
        min-width: 14rem;
        min-height: 20rem;
        border-radius: .4rem;
        /* padding: 1rem; */
        
      }

      .label-en{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      
      }
      
      .country-language-dropdown label{
        
          display: flex; 

          align-items: center; 
          cursor: pointer; 
          font-size: 16px; 
          margin-left: 1rem;
          margin-top: 1rem;
          /* padding: 10px; */
          column-gap: 1rem;
          font-size: 14px;
      
      
      }
     
      input[type="radio"] {
        appearance: none;
        background-color: white;
        background-size: .1px;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.3em;
        height: 1.3em;
        border: 0.15em solid gray;
        border-radius: 50%;
        padding: .1rem;
      }

      input[type="radio"] {
        /* ...existing styles */
      
        display: grid;
        place-content: center;
      }
      
      .country-language-dropdown  label:hover{
        color: rgba(255, 166, 0, 0.801);
        text-decoration: underline;
        
      }

      input[type="radio"]:hover::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        border-radius: 50%;
        transform: scale(1);
        transition: 120ms transform ease-in-out;
      
        box-shadow: inset 1em 1em currentColor;
      }
      
      input[type="radio"]:checked {
        transform: scale(1);
        background-color: rgba(255, 166, 0, 0.952);
      
      }

      input[type="radio"]:focus {
        transform: scale(1);
        background-color: orange;
      }
        
      .div-hover:hover{
          border: 1px solid white;
      }
      
      #header__container-right:hover{
          border:1px solid transparent;
      }

/* ---------------------------------------Nav-link second row----------------------------- */

      .nav-container{
          background-color: #232F3E;
          display: flex;
          align-items: center;
          color: white;
          font-family: Arial, Helvetica, sans-serif;
          font-size: .9rem;
        
      }

      .nav-container__menu{
          display: flex;
          align-items: center;
      }

      .nav-container__menu-list{
          display: flex;
          min-width: 1200px;
          align-items: center;

      }

      .nav-container__menu-item{
        display: flex;
        align-items: center;
        padding: .6rem;
        border: 1px solid transparent;
        height: 100%;

      
        
        
      }

      .nav-container__menu-item:hover{
      
        border: 1px solid white;
        cursor: pointer;
      }

      .ham-menu{
          font-size: 1.1rem;
          margin-right: .5rem;
      }

/*----------------------------------------- Diwali nav -special----------------------- */

      .nav-diwali{
        display: flex;
        gap: 2rem;
      }

      .nav-diwali-img {
       width: 20rem;
      }

      .nav-diwali-timer{
        font-size: 2rem;
        font-weight: 600;
      }

/*------------------------------------------- Hero slider---------------------------------- */
      .slider-container {
          display: flex;
          overflow: hidden;
          height:80vh ;
          position: relative;
      }

      .slider-card {
          min-width: 100%;
          transition: transform 0.5s ease; /* Smooth transition */
      }

      img {
          width: 100%;
          height: auto; 
      }

/*------------------------------------------ Hero Slider Button--------------------------- */
      .back-button{
        position:absolute;
        top: 110px;
        left: 0px;
        z-index: 100;
        color: white;
        font-weight: normal;
        padding: 6rem 1rem 5rem 2rem;
      }
      .next-button{
        position:absolute;
        top: 110px;
        right: 0px;
        color: white;
        padding: 6rem 1.5rem 5rem 2rem;
        z-index: 100;
        
      }

      .back-button:hover{
        border: 1px solid white;
      }

      .next-button:hover{
        border: 1px solid white;
      }

/* -------------------------------------------- Display Item------------------------------->*/

      .display-container{
        min-width: 1200;
        position: absolute;
        top: 42%;
        display: flex;
        justify-content: space-between;
        row-gap: 1.3rem;
        z-index: 102;
        /* padding: 0 .5rem; */
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: rgb(251, 247, 247,0.1); 
        backdrop-filter: blur(5px);
      }

      .card{
        /* min-width: 15rem; */
        border: 2px solid yellow;
        padding:  0.1rem;
        font-weight: 400;
        background-color: #ffff;
        width: calc(25% - 2rem);
        height: 100%;
        
      }

      .content-box{

        height: 100%;
        /* border: 2px solid black; */
        /* padding: 0 rem;  */
        margin: 0 1rem;
      }

      .content-box h2 {
        
          min-width: 8rem;
        
          /* border: 2px solid rgb(223, 61, 61); */
          margin:.5rem 0 .5rem 0;
          font-weight: 500;
        
      }

      .link-button{
        display: block;
        color:#017185;
        margin: 1rem 0;
        font-size: small;
        
      }

      .link-button:hover{

        color: #CC0D39;
      }

      .child-image-content{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap: .2rem;
        height:100%;
        

      }

      .child-image-content a{
      width: 100%;
      }

      .child-image-content p{
      color: black;
      font-size: 0.8rem;
      font-weight: 400;
      letter-spacing: 0.9px;
      
      }

/* ------------------------------------------ This is New deals---------------------------*/

      .trending-deal__container{
    
        margin: 0 1.5rem;
        /* margin-top: 25rem; */
        padding: 1rem 1rem;
        background-color: #FEBD6A;

      }

      .deal-box{
        
        display: flex;
        justify-content: space-evenly;
        column-gap: 1rem;
      
        
      }

      .trendig-deal__card{
        width: 100%;
        height: 100%;
        background-color:white;
        font-size: 1rem;
        border-radius: .5rem;
        justify-content: space-evenly;
      
      }
      .trendig-deal__card:hover{
        box-shadow: 2px 2px 2px 2px rgba(143, 143, 143, 0.822);
      }

      .trendig-deal__card span{
        background-color: #CC0D39;
        color: white;
        font-weight: 500;
        padding: 5px 10px;
        z-index: 103;
      }
      .card-image{
        padding: 0 1rem;
      }

      .deal-content{
        margin-top: 10px;
      }
      .trendig-deal__card p{
        font-size: 11px;
        font-weight: 400;
        padding: 3px 2px;
      }
      .headline{
        color: red;
        font-weight: 400;
      }

      .headline + p{
        font-size: medium;
        font-weight: 400;
      }

/* ------------------------------------ This is Blockbuster deals-------------------------> */

      .blockbuster-deal__container{
        position: relative;
        margin: 0 1.5rem;
        margin-top: .4rem;
        padding: 1rem 1rem;
        background-color: #FEBD6A;

      }

/* ------------------------------------- Sign-in container--------------------------------- */
    
      .sign-in__container{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 12rem;
        width: 100%;
        text-align: center;
        
        background-color: rgba(255, 255, 255, 0.904);
      }

      .sign-in__content{
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 1.5rem 0;
      }

      .sign-in__content p{
        margin-top: .5rem;
        font-size: 10px;
        font-weight: 400;
       
       
        
      }

      .sign-in__content a{
        margin-top: .5rem;
        color: #017185;
      }

      .sign-in__content button{
        margin-top: 1rem;
        color: black;
        font-weight: 600;
        border-radius: 5px;
        border: 1px solid transparent;
        width: 14rem;
        background-color: #FFC73A;
        padding: .3rem;
        cursor: pointer;
        box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef;
        
       
      }
      
/* -----------------------------------------------Footer----------------------------------- */
      
      footer{
        width: 100%;
  
      }

      .back-option {
    
        text-decoration: none;
        margin-top: -1.2rem;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        background-color: #37475A;
      
      }

      .footer-links {
        height: 400px;
        display: flex;
        justify-content: space-evenly;
        background-color: #232F3E;
        color: white;
      }

      .footer-links ul {
        margin-top: 3rem;
      }

      .footer-links ul p {
        font-weight: bold;
      }

      .footer-links ul a {
        display: block;
        font-size: .7rem;
        color: #dddddd;
        margin-top: 1rem;
        cursor: pointer;
      }

      .footer-links ul a:hover {
        text-decoration: underline;
      }

      .country-info {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #232F3E;
        color: white;
        border-top: 0.5px solid #84868878;
      }

      .country-info .logo img {
        width: 50px;
      }

      .country-info .options {
        display: flex;
        gap: .5rem;
        margin-left: 3rem;
      }

      .country-info .options select {
        font-size: .5rem;
        text-decoration: none;
        color: #cccccc;
        background: transparent;
        border: 1px solid #848688;
        border-radius: 3px;
        padding: .5rem;
      }

      .policies {
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        font-size: .8rem;
        color: white;
        background-color: #131A22;
      }

      .pages a {
        text-decoration: none;
        color: white;
        margin-left: 1rem;

      }

/* -------------------------------------------Arrow -Up Button----------------------------- */

      .arrow-up{
        position:fixed;
        z-index: 104;
        color: white;
        font-size: medium;
        bottom:10%;
        right: 2%;
        background-color: #FEBD6A;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
/* --------------------------------------------Media query--------------------------------- */
      @media (max-width: 1400px) {
        .header__container {
        max-width: 1400px;
        display:grid;
        grid-template-columns: 0.2fr .3fr 1.5fr 1fr;
        padding: .1rem;
        height: 3.8rem;
        background-color: #131921;
        color: white;
        cursor:pointer;
        }

        .nav-container{
          background-color: #232F3E;
          display: flex;
          align-items: center;
          color: white;
          font-family: Arial, Helvetica, sans-serif;
          font-size: .7rem;
        
      }

      .nav-container__menu-list{
        display: flex;
        min-width: 1200px;
        align-items: center;

      }

      .card{
        padding: 1rem 0;
        font-weight: 400;
        background-color: #ffff;
        width: calc(25% - 2rem);
        height:100%;
        
      }
      .content-box{

        height: 100%;
        padding: 0 1rem;
        
        
      }

      .content-box h2 {
        
        min-width: 12.5rem;
        margin-bottom: .5rem;
        font-weight: 600;
        font-size: medium;

      }

      .child-image-content p{
        font-size: 9px;
        font-weight: 500;
      }

      .trending-deal__container{
        margin: 0 1.5rem;
        padding: 1rem 0.5rem;
        background-color: #FEBD6A;

      }

      .trendig-deal__card p{
        font-size: 8px;
      }

      }

      @media (max-width: 768px) {
        .header__container {
          max-width: 768px;
          display:grid;
          grid-template-columns: 0.0fr 0fr .7fr .2fr;
          grid-auto-flow: column;

          padding: .1rem;
          height: 3.8rem;
          background-color: #131921;
          color: white;
          cursor:pointer;
          font-size: 5px;
          }

          .header__container-logo{
            min-width:7rem;
          }
          .header__container-location{
            min-width:7rem;
          }

          .display-container{
            top: 35%;

          }

          .logo-box{
            min-width: 6rem;
            display: flex;
            padding: .5rem 0 0 0rem;
            margin-left: 5px;
            margin-top: .2rem;
            align-items: center;
            justify-content: center;
          
          }
          .location-box{
            display: flex;
            min-width: 2rem;
            padding-top: .5rem;
            align-items: center;
            border: 1px solid transparent;
          }

          .header__container-right-tools{
            min-width: 2rem;
            display: flex;
            width: 100%;
            height: 100%;
        
    
          }
  
          .nav-container{
            /* max-width: 50rem; */
            background-color: #232F3E;
            display: flex;
            align-items: center;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: .7rem;
          
        }
  
        .nav-container__menu-list{
          display: flex;
          min-width: 768px;
          align-items: center;
          font-size: 7px;
  
        }
  
        .card{
          padding: 1rem 0;
          font-weight: 400;
          background-color: #ffff;
          width: calc(33.33% - 2rem);
          height:100%;
          
        }
        .content-box{
  
          height: 100%;
          padding: 0 1rem;
          
          
        }
  
        .content-box h2 {
          
          min-width: 6rem;
          margin-bottom: .5rem;
          font-weight: 600;
          font-size: 9px;
  
        }
  
        .child-image-content p{
          font-size: 5px;
          font-weight: 500;
          letter-spacing: normal;
        }
  
        .trending-deal__container{
          margin: 0 2rem;
          
          padding: 1rem .5rem;
          background-color: #FEBD6A;
  
        }

        .trending-deal__container{
          position: relative;
          overflow: hidden;
        }

        .deal-box{
      
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
         
        }

        .trendig-deal__card{
  
          width: 12rem;
          height: 10%;
          background-color:white;
          font-size: 5px;
          border-radius: .5rem;
          margin: 1rem;
        }

      }



